.badges {
  width: 100%;
  height: calc(100vh - 50px);
  text-align: center;
  overflow-y: scroll;
  padding: 0 0 2rem 0;
}

.badges__link {
  display: inline-block;
  margin: 2rem 0 1rem;
  background-color: #f56767;
  width: 25%;
  min-width: 7rem;
  font-size: 2rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}

.badges__badgeslist {
  width: 90%;
  margin: auto;
}
