.badge-edit {
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  padding: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-edit__badge {
  width: 90%;
  margin-top: 2rem;
}
.badge-edit__form {
  width: 90%;
  margin-top: 2rem;
}
