.badge-new {
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  padding: 0 0 2rem 0;
}

.badge-new__badge {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.badge-new__form {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
