.home-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
}

.home__img {
  margin-top: 20px;
  max-height: 45%;
}

.home-text {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
}

.home-links {
  margin-top: 35px;
}

.home-links-item {
  margin: 0 10px;
  background-color: #f56767;
  box-sizing: content-box;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}
