.home {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 0 0 2rem 0;
  text-align: center;
  overflow-y: scroll;
}

.home__img {
  width: 50%;
  min-width: 15rem;
  margin: 0 auto;
}

.home-text {
  width: 90%;
  margin: auto;
  font-size: 2rem;
  color: #ffffff;
}

.home-links {
  margin-top: 35px;
}

.home-links-item {
  margin: 0 1rem;
  background-color: #f56767;
  box-sizing: content-box;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}
