.badgeslist {
  width: 100%;
  background-color: #d9d7d7;
  padding: 1rem;
  border-radius: 10px;
  list-style: none;
}
.badgeslist__search {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1.5rem;
}
.badgeslist__search label {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
.badgeslist__search input {
  border: none;
  border-radius: 10px;
  height: 3.5rem;
  font-size: 3rem;
  padding-left: 0.5rem;
}
.badgeslist__title {
  font-size: 3.5rem;
  text-align: center;
}
.badgeslist__li {
  width: 100%;
}
.badgeslist__li-link {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  background-color: #edebeb;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  text-align: start;
  text-decoration: none;
  color: #1f1f1f;
}

.badgeslist__li-img {
  width: 20%;
  min-width: 8rem;
  border-radius: 50%;
}

.badgeslist__li-content {
  margin-left: 1rem;
}
.badgeslist__li-content-name {
  font-size: 2.3rem;
}
.badgeslist__li-content-description {
  font-size: 1.9rem;
}

.badgeslist__li-content-nickname {
  font-size: 1.3rem;
}
