.Badge {
  background: none;
  width: 500px;
  margin: 10px;
}

.BadgeHeader {
  width: 100%;
  height: 15%;
  background-color: #322d66;
  border-radius: 5px 5px 0px 0px;
}

.BadgeMain {
  background: #f8f7fc;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.BadgeFooter {
  background: #889fcf;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

.BadgeHeader-img {
  width: 70%;
}

.BadgeMain-avatar {
  max-width: 35%;
  border-radius: 50%;
  margin: 5px;
}

.BadgeMain-content {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
