.badgeslist {
  width: 100%;
  background-color: #d9d7d7;
  padding: 1rem;
  border-radius: 10px;
}

.badgeslist__title {
  font-size: 3rem;
  text-align: center;
}

.badgeslist__li {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  background-color: #edebeb;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  text-align: start;
}

.badgeslist__li-img {
  width: 25%;
  min-width: 10rem;
  border-radius: 50%;
}

.badgeslist__li-content {
  margin-left: 1rem;
}
.badgeslist__li-content-name {
  font-size: 2rem;
}
.badgeslist__li-content-description {
  font-size: 1.5rem;
}

.badgeslist__li-content-nickname {
  font-size: 1.2rem;
}
