.badge {
  width: 100%;
}

.badge__header {
  width: 100%;
  background-color: #f56767;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge__header-title {
  font-size: 3rem;
  color: #ffffff;
}

.badge__header-logo {
  width: 30%;
  min-width: 7rem;
}

.badge__main {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: #ffffff;
}

.badge__main-avatar {
  width: 30%;
  min-width: 8rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.badge__main-content {
  padding: 0 0.5rem;
}

.badge__main-content-name {
  display: block;
  width: 100%;
  font-size: 2rem;
}

.badge__main-content-description {
  display: block;
  width: 100%;
  font-size: 1.5rem;
}

.badge__main-content-nickname {
  display: block;
  width: 100%;
  font-size: 1.2rem;
}

.badge__footer {
  width: 100%;
  padding: 1rem;
  background-color: #d9d7d7;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
